:root{
    --blue-section-background: rgba(173, 216, 230, 0.5);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: whitesmoke;
    font: black;
    overflow-x: hidden;


}

h2{
    padding: 2vh;
}

#navbar{
    background-color: lightblue;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 6rem;
    z-index: 100;
    display: flex;
    align-items: center;
}

#navbar-links{
    margin-left: auto;
    right: 0%;
    display: flex;
    justify-content: flex-end;
    align-items:center;
    font-size:1.5rem;
    font-family: 'Times New Roman', Times, serif;
}

.nav-link{
    padding: 0 1.5rem 0 1rem;
    text-decoration: none;
    transition: transform 0.3s ease;
    
}

.nav-link:hover{
    transform: translateY(2px);
}

a:visited, a:link{
    color: black;
}

#navbar > p{
    font-size: 1.6rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    padding-left: 1rem;
    font-weight: bold;
}

.title-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
#title{
    text-align: center;
    position: relative;
    font-size: 3rem;
}

.info-page, .info-page-2{
    height: 100vh;
    text-align: center;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.contact-page{
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#about-info-page, #index-contact-page, #summaries-section, .info-page-2{
    background-color: var(--blue-section-background);
    overflow:auto;
}

#summaries-gallery{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}

.gallery-box{
    width: 25vh;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
    background-color: whitesmoke;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-box img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    padding: 1vh 1vh 0 1vh;
}


.gallery-box p{
    padding: 1vh;
}

.gallery-box h4{
    text-decoration: underline;
    padding: 1vh;
}

.summary-full{
    display: flex;
    flex-wrap: wrap;
    padding:20px;
    overflow: auto;
}

.summary-full-left, .summary-full-right{
    flex: 1 1 45%;
}

.summary-full-left p, .summary-full-right p{
    line-height: 1.5;
}

.summary-full-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2vh;
    text-align: left;
}

.summary-full-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    gap: 1rem;
}

.summary-full-right img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.summary-full-right a{
    text-align: center;
    padding-top: 1vh;
}

.bridge{
    padding: 2vh;
}

@media (max-width: 768px){
    #navbar{
        flex-direction: column;
        height: auto;
        align-items: flex-start;
        padding: 1rem 0;
        align-items: center;
        justify-content: center;
    }

    #navbar > p{
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }

    #navbar-links{
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: 1.2rem;
    }
}
